.form {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  max-width: 66%;

  &:not(:last-child) {
    border-bottom: 1px solid $grey_light;
  }
}

.cross {
  display: flex;
  position: absolute;
  top: 0;
  right: -40px;
  cursor: pointer;

  & path {
    transition: fill 0.3s ease-in-out;
  }

  &:hover {
    & path {
      fill: $grey_shade;
    }
  }
}

.modal {
  padding: 20px;
  border-radius: 10px;
  background-color: $white;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_title {
    margin: 20px 0 20px;
    font-size: 24px;
    line-height: 130%;
    font-weight: 400;
    color: $black;
    text-align: center;
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.edit {
  border: none;
  padding: 0;
  background-color: transparent;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50px;
  right: -40px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
  transform: translateY(-50%);

  & path {
    fill: $primary;
  }

  &_active path {
    transition: fill 0.3s ease-in-out;
    fill: $primary_shade;
  }

  &:hover {
    opacity: 1;
  }
}

.fieldset {
  border: none;
  padding: 0;

  & > div {
    max-width: 100%;
    padding: 0;
  }
}

fieldset[disabled] {
  & div {
    background-color: transparent;
    border-color: $grey_light;
    pointer-events: none;
  }
}

.error {
  display: block;
  margin-top: 20px;
  font-size: 14px;
  line-height: 130%;
  font-weight: 400;
  color: $red_input;
}
