@import '../../styles/mixins/breakpoints';

.form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  max-width: 620px;
  margin: 0 auto;
  padding-bottom: 70px !important;

  &__header {
    color: var(--black, #333);
    font-size: 2rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
  }

  &__input_wrapper {
    position: relative;
    width: 66%;

    @include small-tablet {
      width: 100%;
    }
  }

  & input[type='date'] {
    padding-right: 50px;
  }

  & .error {
    max-width: 90%;
    position: absolute;
    top: -18px;
    right: 0;
  }

  & button {
    margin-top: 30px;
  }
}

.edit_icon {
  position: absolute;
  right: 16px;
  bottom: 16px;
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;

  & path {
    fill: $primary_light;
  }

  &_active path {
    transition: fill 0.3s ease-in-out;
    fill: $primary_shade;
  }

  &:hover {
    opacity: 1;
  }
}

.modal {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 10px;
  background-color: $white;

  &_heading {
    margin: 0;
    font-size: 24px;
    line-height: 130%;
    font-weight: 400;
    color: $black;
  }
}
