@import '../../../styles/mixins/breakpoints';

.container {
  grid-area: 1 / 1 / 2 / 7;
  cursor: pointer;

  & img {
    width: 100%;
  }

  @include big-desktop {
    grid-area: 1 / 1 / 2 / 6;
  }

  @include small-tablet {
    grid-area: 1 / 1 / 2 / 7;
  }
}

.thumbSwiper {
  grid-area: 2 / 1 / 3 / 7;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: $grey_light;
  padding: 10px 25px;

  @include big-desktop {
    grid-area: 2 / 1 / 3 / 6;
  }

  @include small-tablet {
    grid-area: 2 / 1 / 3 / 3;
    max-height: 400px;
  }

  @include mobile {
    grid-area: 2 / 1 / 3 / 7;
  }
}

.swiper {
  background-color: $grey_light;
  box-sizing: border-box !important;
  height: 100%;
}

.main_image {
  display: flex;
  margin: 0 auto;
}

.modal_container {
  max-width: 1000px;
  background-color: $white;
  border-radius: 10px;

  @include big-desktop {
    margin: 0 auto;
    max-width: calc(100% - 60px);
  }

  @include tablet {
    max-width: calc(100% - 60px);
  }
}

.modal_thumb {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: $grey_light;
  padding: 0 35px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.swiper_main {
  padding: 35px 35px 0;
  background-color: $grey_light;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.button_container {
  display: block;
}
