.container {
  width: 100%;
  flex: 1 1 0;
}

.listContainer {
  position: relative;
}

.list {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: fit-content;
  height: 100%;
}
