.products {
  max-width: 100%;
  width: 100%;

  & > h2 {
    margin-bottom: 26px;
  }

  & ul {
    grid-template-columns: repeat(3, minmax(296px, 1fr));
  }
}

.list {
  margin: 0 0 32px;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(296px, 1fr));
  gap: 32px;
  list-style: none;
}
