@import "./mixins/font-face";

@include font-face('OpenSans', '../assets/fonts/OpenSans-Regular', 400, normal);
@include font-face('OpenSans', '../assets/fonts/OpenSans-SemiBold', 600, normal);
@include font-face('OpenSans', '../assets/fonts/OpenSans-Bold', 700, normal);
@include font-face('PlayFair', '../assets/fonts/PlayfairDisplay-Black', 900, normal);
