// colors
$primary: #a65cf0;
$primary_light: #c998fb;
$primary_shade: #7033ac;
$pink_light: #f8efff;
$pink_violet: #ebd1ff;
$secondary: #ff862f;
$secondary_light: #ffbd59;
$secondary_shade: #bb370e;
$red_input: #ff6972;
$green_input: #b8ec64;
$gold: #d5b986;
$white: #fff;
$grey_light: #f6f6f6;
$md_grey: #eaeaea;
$grey: #999;
$grey_shade: #666;
$black: #333;
$lime_color: #daffd1;
$bone: #fff5d1;

//settings
$font-family: 'OpenSans', sans-serif;
$container-offset: 15px;
$container-width: 1280px;
$content-width: $container-width + $container-offset * 2;
$container-offset-1024: 36px;
$container-width-1024: 100%;
$content-width-1024: calc($container-width-1024 + $container-offset-1024 * 2);
$container-offset-768: 72px;
$container-width-768: 100%;
$content-width-768: calc($container-width-1024 + $container-offset-1024 * 2);
$container-offset-320: 16px;
$container-width-320: 100%;
$content-width-320: calc($container-width-1024 + $container-offset-1024 * 2);
