.content {
  border-radius: 10px;
  background-color: $white;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.line {
  font-size: 14px;
  line-height: 130%;
  font-weight: 400;
  color: $black;
  padding: 15px 15px 7.5px;
  text-align: center;
  white-space: nowrap;

  &_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 7.5px 15px 15px;
    color: $white;
    background-color: $primary;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    & div {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}

.link {
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  color: $white;
  text-decoration: underline;
}
