.card {
  position: relative;
  padding: 30px 15px 30px;
  background-color: $grey_light;
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
  }
}

.rating {
  padding-left: 15px;
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  color: $secondary;
}

.image {
  margin: 0 auto 16px;
}

.content {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.title {
  & a {
    margin: 0 0 24px;
    font-size: 24px;
    line-height: 130%;
    font-weight: 400;
    color: $black;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $primary;
    }

    &:focus {
      outline: none;
      color: $primary;
    }

    &:active {
      color: $primary_shade;
    }
  }
}

.prices {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 24px;
}

.price {
  margin-top: auto;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  color: $secondary;
}

.old_price {
  margin-top: auto;
  font-size: 14px;
  line-height: 130%;
  font-weight: 400;
  color: $grey_shade;
  text-decoration: line-through;
}
