.form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;

  &__header_login {
    color: var(--black, #333);
    font-family: Open Sans;
    font-size: 2rem;
    font-weight: 400;
    padding: 0rem;
  }

  &__header_register {
    color: var(--black, #333);
    font-family: Open Sans;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
    padding: 0rem;
  }

  &__header_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }

  &__register_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }

  &__input_wrapper {
    position: relative;
    width: min(100% - 0rem, 760px);
  }
  &__password_wrapper {
    position: relative;
    margin-top: 1rem;
  }
}

.eye_icon {
  position: absolute;
  right: 16px;
  bottom: 16px;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;

  &_active path {
    transition: fill 0.3s ease-in-out;
    fill: red;
  }

  &:hover {
    opacity: 1;
  }
}
