@import '../../../../styles/mixins/breakpoints';

.checkboxes {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  @include big-desktop {
    position: absolute;
    width: 100%;
    max-width: 100%;
    padding: 40px 13px 30px 30px;
    background-color: $white;
    border: 1px solid $md_grey;
    border-top: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.heading {
  margin: 0 0 9px;
  font-size: 16px;
  line-height: 130%;
  font-weight: 600;
  color: $grey_shade;
}

.button {
  position: relative;
  padding: 9px 15px;
  background-color: $grey_light;
  border-radius: 10px;
  width: 100%;
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
  color: $black;
  border: 2px solid $grey_light;
  transition:
    border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 16px;
    width: 8px;
    height: 8px;
    transform: translateY(-65%) rotate(45deg);
    border-bottom: 1px solid #a65cf0;
    border-right: 1px solid #a65cf0;
    transition: transform 0.3s ease-in-out;
    z-index: 11;
  }
}

.open {
  border-color: $primary;
  background-color: $white;
  z-index: 13;

  &::after {
    transform: translateY(-15%) rotate(225deg);
  }
}

.wrapper {
  position: relative;
  max-width: 187px;
  width: 100%;
}

.category_dropdown {
  position: absolute;
  left: 0;
  width: 100%;
  transform: none;
  bottom: 18px;
  z-index: 12;
}
