.list {
  width: 100%;
  max-width: 100%;
  padding: 40px 30px 22px !important;
  border: 2px solid $grey_light;
  border-top: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  column-count: 2;
}

.item {
  position: relative;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  color: $black;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
  margin-bottom: 11px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -2px;
    width: calc(100% + 4px);
    height: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }

  & span {
    position: relative;
    z-index: 2;
  }

  &:hover {
    color: $primary;
  }

  &:focus {
    outline: none;
    color: $primary_shade;

    &::after {
      background-color: $pink_violet;
    }
  }

  &:active {
    color: $primary_shade;
  }
}
