.label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;

  & span {
    padding-left: 18px;
  }
}

.input {
  padding: 6px 18px;
  font-size: 16px;
  line-height: 250%;
  font-weight: 400;
  color: $black;
  background-color: $grey_light;
  border: 1px solid $grey_light;
  border-radius: 10px;
  transition:
    background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;

  &::placeholder {
    color: $grey;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background-color: $md_grey;
  }

  &:focus {
    outline: none;
    background-color: $pink_light;
    border-color: $primary;
  }
}

.input_valid {
  &:focus {
    outline: none;
    background-color: $grey_light;
    border-color: $green_input;
  }
}

.input_error {
  &:focus {
    background-color: $grey_light;
    border-color: $red_input;
  }
}

.error {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: $red_input;
}
