@import '../../styles/mixins/breakpoints';

.container {
  position: relative;
  padding-top: 80px !important;
  padding-bottom: 189px !important;
  box-sizing: border-box;

  @include mobile {
    padding-top: 20px !important;
    padding-bottom: 50.94vw !important;
  }

  & button {
    position: absolute;
    bottom: 80px;

    @include mobile {
      width: calc(100% - $container-offset-320 * 2);
      bottom: 0;
    }
  }
}

.swiper__container {
  padding-bottom: 35px;
}

.heading {
  margin: 0 0 49px;
  max-width: 555px;
  font-size: 48px;
  line-height: 65px;
  font-weight: 700;
  color: $grey;

  @include mobile {
    max-width: 73.5vw;
    font-size: 6.25vw;
    line-height: 135%;
  }
}

.slide {
  background-size: cover !important;

  @include mobile {
    background-size: contain !important;
  }

  &:first-child {
    background: url('../../assets/images/1-slide.jpg') center center no-repeat transparent;

    @include big-desktop {
      background: url('../../assets/images/1-slide-tablet.jpg') center center no-repeat transparent;
    }

    @include small-tablet {
      background: url('../../assets/images/1-slide-smtablet.jpg') center center no-repeat
        transparent;
    }

    @include mobile {
      background: url('../../assets/images/1-slide-mobile.jpg') center top no-repeat transparent;
    }
  }

  &:nth-child(2) {
    background: url('../../assets/images/2-slide.jpg') center center no-repeat transparent;

    @include big-desktop {
      background: url('../../assets/images/2-slide-tablet.jpg') center center no-repeat transparent;
    }

    @include small-tablet {
      background: url('../../assets/images/2-slide-smtablet.jpg') center center no-repeat
        transparent;
    }

    @include mobile {
      background: url('../../assets/images/2-slide-mobile.jpg') center top no-repeat transparent;
    }
  }

  &:nth-child(3) {
    background: url('../../assets/images/3-slide.jpg') center center no-repeat transparent;

    @include big-desktop {
      background: url('../../assets/images/3-slide-tablet.jpg') center center no-repeat transparent;
    }

    @include small-tablet {
      background: url('../../assets/images/3-slide-smtablet.jpg') center center no-repeat
        transparent;
    }

    @include mobile {
      background: url('../../assets/images/3-slide-mobile.jpg') center top no-repeat transparent;
    }

    & h2 {
      color: $white;
    }
  }
}

.bullet {
  width: 14px;
  height: 14px;
  background-color: $black;
  opacity: 0.3;
  margin: 0 8px !important;

  @include mobile {
    width: 6px;
    height: 6px;
    margin: 0 4px !important;
  }

  &__active {
    opacity: 1;
  }
}

.modal {
  width: 624px;
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: $white;
  border-radius: 10px;

  &_title {
    margin: 0;
    font-size: 24px;
    line-height: 130%;
    font-weight: 400;
    color: $black;
  }

  &_content {
    font-size: 36px;
    line-height: 130%;
    font-weight: 700;
    color: $black;
  }
}
