@import '../../../styles/mixins/breakpoints';

.description {
  grid-area: 3 / 1 / 4 / 7;
  color: $black;
}
@include tablet {
  .description {
    grid-area: 3 / 1 / 4 / 6;
    color: $black;
  }
}
@include small-tablet {
  .description {
    grid-area: 6 / 1 / 7 / 7;
    color: $black;
  }
}
@include mobile {
  .description {
    grid-area: 5 / 1 / 7 / 7;
    color: $black;
  }
}
