@import '../../styles/mixins/breakpoints';

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.wrapper_container {
  background-color: $black;
  z-index: 9998;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.content {
  position: relative;
  z-index: 9999;
  max-width: fit-content;

  @include big-desktop {
    max-width: 100%;
  }
}

.cross {
  position: absolute;
  top: 0;
  right: -42px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 2px solid $white;
  background-color: transparent;
  cursor: pointer;
  transition:
    background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;

  &:hover {
    background-color: $primary;
    border-color: $primary;
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: $white;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: background-color 0.3s ease-in-out;
  }

  &::after {
    width: 20px;
    height: 2px;
  }

  &::before {
    width: 2px;
    height: 20px;
  }
}
